<!DOCTYPE html>
<html>
<head>
  <title>TwitBookr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<div id="menu">
	 <div id="innermenu"><%= link_to "Logout", root_path %></div>	 
</div>
<div id="content">
<%= yield %>
</div>
</div>

    <script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId: 310081192414147,
    cookie: true,
    xfbml: true,
    oauth: true
  });
</script>
</body>	
</html>
